.main {
  margin: auto;
  width: 840px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 70px;
}
.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 800px) {
  .main {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .buttonWrapper {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
  }
}
